.footer--vinil {
  margin-inline: calc(50% - 50vw);
  width: 100vw;

  height: clamp(240px, 35vh, 520px);

  position: sticky;
  bottom: 0;
  z-index: -1;
  pointer-events: none;

  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url(/src/images/vinil-of-future-desk.png) center / cover
      no-repeat;
    opacity: 0.28;
  }
}

@media (max-width: 767px) {
  .footer--vinil::before {
    background-image: url('/src/images/vinil-of-future.png');
  }
}
