.info {
  background-color: #fcfaef;
  margin-inline: calc(50% - 50vw);
  width: 100vw;
  box-sizing: border-box;
  padding-block: 48px;

  &__inner {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
  }

  &__title {
    margin: 0;
    max-width: 280px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1b2129;
  }

  &__content {
    margin: 0;
    min-width: 0;
  }

  &__description {
    margin: 0;
    max-width: 100%;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #1b2129;
  }

  @include on-tablet {
    padding-block: 80px;

    &__inner {
      display: grid;
      grid-template-columns: 2fr 3fr;
      column-gap: 24px;
      align-items: start;
    }

    &__title {
      grid-column: 1 / 2;
      max-width: 290px;
      font-size: 48px;
      line-height: 48px;
    }

    &__content {
      grid-column: 2 / 3;
    }

     &__description {
    max-width: 100%;
     }
  }

  @include on-desktop {
    padding-block: 120px;

    &__inner {
      padding-inline: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
      align-items: start;
      max-width: 1020px;
      margin: 0 auto;
      box-sizing: border-box;
    }

    &__title {
      max-width: 100%;
      font-size: 48px;
      line-height: 48px;
    }

    &__content {
      width: 100%;
      max-width: 100%;
      min-width: 0;
    }

    &__description {
      max-width: 100%;
    }
  }
}
