.section-title {
  margin: 0;

  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  grid-column: 1 / -1;

  @include on-tablet {
    margin-bottom: $tablet-margin-b-sections;
    font-size: $font-size-tablet;
    line-height: 40px;
  }

  @include on-desktop {
    font-size: $font-size-desktop;
    line-height: 48px;
    margin: 0;
  }
}
