$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$main-text-color: #1b2129;
$effectDuration: 0.3s;
$font-size-tablet: 40px;
$font-size-desktop: 48px;
$tablet-margin-b-sections: 56px;
$vinil-sizes: calc(50% - 50vw);
